{% extends "_layouts/cp" %}

{% set crumbs = [
	{ label: "Settings"|t, url: url('settings') },
	{ label: "Plugins"|t, url: url('settings/plugins') }
] %}

{% set title = "Twitter"|t %}

{% import "_includes/forms" as forms %}

{% set docsUrl = 'https://dukt.net/craft/twitter/docs' %}

{% set content %}

	{% if not tokenExists %}
		<div class="buttons">
			<a href="{{ actionUrl('twitter/oauth/connect') }}" class="btn submit">Connect to Twitter</a>
		</div>
	{% else %}

		<h2>{{ 'Account'|t('twitter') }}</h2>

		<img width="36" src="{{ resourceOwner.urls.profile_image_url_https|replace('_normal', '_bigger') }}" />

		<ul>
			<li><strong>Name:</strong> {{ resourceOwner.name }}</li>
			<li><strong>Nickname:</strong> {{ resourceOwner.nickname }}</li>
			<li><strong>Email:</strong> {{ resourceOwner.email }}</li>
			<li><strong>Location:</strong> {{ resourceOwner.location }}</li>
			<li><strong>Description:</strong> {{ resourceOwner.description }}</li>
		</ul>
		
		<div class="buttons">
			<a href="{{ actionUrl('twitter/oauth/disconnect') }}" class="btn">{{ 'Disconnect'|t('twitter') }}</a>
		</div>
	{% endif %}

{% endset %}
