{% extends "_layouts/cp" %}

{% set crumbs = [
	{ label: "Settings"|t, url: url('settings') },
	{ label: "Plugins"|t, url: url('settings/plugins') }
] %}

{% set title = "Twitter"|t %}

{% import "_includes/forms" as forms %}

{% set docsUrl = 'https://dukt.net/craft/twitter/docs' %}

{% set content %}

	<h2>{{ 'Twitter Account'|t('twitter') }}</h2>

	{% if not tokenExists %}

		<p>{{ 'Connect Craft to a Twitter account in order to get started.'|t('twitter') }}</p>

		<p class="light">Gettings errors trying to connect? Check your consumer key and secret, as well as your <a target="_blank" href="https://dev.twitter.com/apps">Application settings</a> on Twitter</p>

		{{ forms.textField({
			readonly: true,
			label: "Consumer Key",
			value: oauthClientCredentials.consumerKey
		}) }}
		{{ forms.textField({
			readonly: true,
			label: "Consumer Secret",
			value: oauthClientCredentials.consumerSecret
		}) }}

		<div class="buttons">
			<a href="{{ actionUrl('twitter/oauth/connect') }}" class="btn submit">{{ 'Connect to Twitter'|t('twitter') }}</a>
		</div>

	{% else %}

		{% if resourceOwner.urls.profile_image_url_https is defined %}
			<img width="36" src="{{ resourceOwner.urls.profile_image_url_https|replace('_normal', '_bigger') }}" />
		{% endif %}

		<ul>
			{% if resourceOwner.uid is defined %}
				<li><strong>{{ 'UID'|t('twitter') }}:</strong> {{ resourceOwner.uid }}</li>
			{% endif %}

			{% if resourceOwner.name is defined %}
				<li><strong>{{ 'Name'|t('twitter') }}:</strong> {{ resourceOwner.name }}</li>
			{% endif %}

			{% if resourceOwner.nickname is defined %}
				<li><strong>{{ 'Nickname'|t('twitter') }}:</strong> {{ resourceOwner.nickname }}</li>
			{% endif %}

			{% if resourceOwner.email is defined %}
				<li><strong>{{ 'Email'|t('twitter') }}:</strong> {{ resourceOwner.email }}</li>
			{% endif %}

			{% if resourceOwner.location is defined %}
				<li><strong>{{ 'Location'|t('twitter') }}:</strong> {{ resourceOwner.location }}</li>
			{% endif %}

			{% if resourceOwner.description is defined %}
				<li><strong>{{ 'Description'|t('twitter') }}:</strong> {{ resourceOwner.description }}</li>
			{% endif %}
		</ul>
		
		<div class="buttons">
			<a href="{{ actionUrl('twitter/oauth/disconnect') }}" class="btn">{{ 'Disconnect'|t('twitter') }}</a>
		</div>
	{% endif %}

{% endset %}
