{% if tweets %}
    {% for tweet in tweets %}

        {% set url = 'https://twitter.com/' ~ tweet.user.screen_name ~ '/status/' ~ tweet.id_str %}
        {% set userProfileUrl = 'https://twitter.com/' ~ tweet.user.screen_name %}
        {% set profileImageUrl = tweet.user.profile_image_url_https|replace({"_normal.": "_bigger."}) %}

        <div class="tweet" data-tweet-url="{{ url }}">
            <div class="tweet-image">
                <a href="{{ userProfileUrl }}"><img src="{{ profileImageUrl }}"></a>
            </div>
            <div class="tweet-user">
                <a class="tweet-user-name" href="{{ userProfileUrl }}"><strong>{{ tweet.user.name }}</strong></a>
                <a class="tweet-user-screenname light" target="_blank" href="{{ userProfileUrl }}">@{{ tweet.user.screen_name }}</a>
            </div>
            <div class="tweet-text">
                {{ tweet.text|autoLinkTweet }}

                <ul class="tweet-actions light">
                    <li class="tweet-date">{{ tweet.created_at|twitterTimeAgo }}</li>
                    <li><a href="{{ url }}">Permalink</a></li>
                </ul>
            </div>
        </div>

    {% endfor %}
{% else %}
    <p class="light">{{ "No tweets"|t }}</p>
{% endif %}