{% set connectUrl = actionUrl('twitter/connect') %}
{% set disconnectUrl = actionUrl('twitter/disconnect') %}
{% set settingsUrl = url('oauth/provider/twitter') %}

{% set provider = craft.oauth.getProvider('twitter') %}

{% if provider.isConfigured %}

    {% set token = craft.twitter.token %}

    {% if token %}

        {# Connected #}

        {% set void = provider.source.setToken(token) %}

        <input type="hidden" name="token" value="{{ craft.oauth.encodeToken(token) }}" />


        {% set account = provider.source.account %}

        <h2 class="first">{{ '{provider} Account'|t({ provider: provider.name }) }}</h2>

        {% if account %}

            <p>{{ 'You are authenticated to {provider} with the following account'|t({ provider: provider.name }) }} :</p>

            <ul>
                <li><strong>{{ 'UID'|t }} : </strong> {{account.uid}}</li>
                <li><strong>{{ 'Name'|t }} : </strong> {{account.name}}</li>
            </ul>
        {% else %}
            <p class="error">{{ "Couldn't retrieve account"|t }}</p>
        {% endif %}



        <p>
            <a class="btn small" href="{{ disconnectUrl }}">{{ 'Disconnect'|t }}</a>
        </p>

    {% else %}

        {# Not Connected #}

        <h2 class="first">{{ '{provider} Account'|t({ provider: provider.name })}}</h2>

        <p>{{ 'You need to connect Craft to a {provider} account in order to get started.'|t({ provider: provider.name })}}</p>

        <p>{{"Getting errors trying to connect ?"|t }} <a href="{{ settingsUrl }}">{{"Check {provider} API key & secret in OAuth settings"|t({ provider: provider.name })}}</a>.</p>

        <p>
            <a class="btn submit" href="{{ connectUrl }}">{{"Connect to {provider}"|t({provider: provider.name})}}</a>
        </p>

    {% endif %}

{% else %}

    {# OAuth provider not configured #}

    <h2 class="first">{{ '{provider} provider not configured'|t({ provider: provider.name })}}</h2>
    <p>{{ 'Please fill API client id & secret for {provider} provider.'|t({ provider: provider.name })}}</p>
    <p><a class="btn" href="{{ settingsUrl }}">{{ '{provider} OAuth settings'|t({ provider: provider.name })}}</a></p>

{% endif %}