{% extends "twitter/_layout" %}

{% includeJsResource '../twitter/timeline/js/modernizr.custom.js' %}

{% block main %}

    <div class="col-md-12">

        <h1>Auto Linking Tweets</h1>
        <p>You can turn auto link a tweet's text through a twig filter.</p>


        <h3>Preview</h3>

        {% set tweets = craft.twitter.get("statuses/user_timeline", {count:5}) %}

        {% for tweet in tweets %}

            <div class="tweet">

                {{ tweet.text|autoLinkTweet({
                    urlClass: 'twitter-url',
                    usernameClass: 'twitter-username',
                    listClass: 'twitter-list',
                    hashtagClass: 'twitter-hashtag',
                    cashtagClass: 'twitter-cashtag',
                    noFollow: false,
                    external: false,
                    target: '_blank'
                }) }}

            </div>

        {% endfor %}


        <h3>Template</h3>
        <pre>{{ '{% set tweets = craft.twitter.get("statuses/user_timeline", {count:5}) %}

{% for tweet in tweets %}

    <div class="tweet">

        {{ tweet.text|autoLinkTweet }}

    </div>

{% endfor %}'|e('html') }}</pre>


        <p>See <a href="https://dukt.net/craft/twitter/docs/templating/auto-linking-tweets">Auto Linking Tweets Documentation</a> for usage and options.</p>
    </div>

{% endblock main %}
