{% extends "twitter/_layout" %}


{% block main %}

    <div class="col-md-12">
        <h1>Hello !</h1>

        <p>Welcome in the Twitter Demo ! These examples will show you how to use Twitter features on your Craft website.</p>

        <h4>Examples</h4>

        <ul>
            <li><a href="{{url('twitter/auto-linking-tweets')}}">Auto Linking Tweets</a></li>
            <li><a href="{{url('twitter/embedded-tweets')}}">Embedded Tweets</a></li>
            <li><a href="{{url('twitter/recent')}}">Recent Tweets</a></li>
            <li><a href="{{url('twitter/mentions')}}">Mentions</a></li>
        </ul>

        <h4>Links</h4>

        <ul>
            <li><a href="https://dukt.net/craft/twitter/">Twitter plugin for Craft CMS </a></li>
            <li><a href="https://dukt.net/craft/twitter/docs/">Documentation</a></li>
            <li><a href="https://dukt.net/craft/twitter/updates/">Updates</a></li>
        </ul>

    </div>

{% endblock main %}
