{% extends "twitter/_layout" %}


{% block main %}

    <div class="col-md-12">
        <h1>Hello !</h1>

        <p>Welcome in the Twitter example application. These template will show you how to use Twitter features on your Craft website.</p>

        <hr>

        <h3>Setup Instructions</h3>

        <p>Some section of this example application require specific setup.</p>

        <h4>Mentions</h4>

        <ul>
            <li>Install Twitter plugin</li>
            <li>Create a global and call it homepage</li>
            <li>Create a matrix field and call it <strong>Mentions</strong></li>
            <li>Add a Block Type for this Matrix field, and call it <strong>Tweet</strong></li>
            <li>Add a <strong>Tweet</strong> field for this Block Type, and call it <strong>Tweet</strong> as well</li>
            <li>Now <strong>copy some tweet URLs and paste them in the homepage.mentions field</strong> so we have some data to play with</li>
        </ul>


        <h4>Recent Tweets</h4>

        <p><em>No setup required</em></p>

    </div>

{% endblock main %}
