{% extends "twitter/_layout" %}

{% block main %}

    <div class="col-md-12">
        <h1>Mentions</h1>

        <hr>

    </div>

    {% for mention in homepage.mentions %}

        {% set mentionId = 'mention-' ~ mention.id %}

        {% if mention %}
            <div id="{{ mentionId }}" class="col-md-4 mention {{ mention.type }}">
                {% if mention.type == 'tweet' %}
                    {% set tweet = mention.tweet %}

                    {% if tweet.id is defined %}
                        {% set user = tweet.user %}

                        {% set url = 'https://twitter.com/' ~ user.screen_name ~ '/status/' ~ tweet.id %}
                        {% set imageUrl = craft.twitter.getUserImageUrl(user.id, 73) %}
                        {% set author = user.name ~ ' (@' ~ user.screen_name ~ ') on Twitter' %}
                        {% set quote = tweet.text %}

                        <img src="{{imageUrl}}" />

                        <p><cite><a href="{{ url }}" title="{{ author }}">{{ author }}</a></cite></p>

                        <blockquote>{{ quote }}</blockquote>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            </div>
        {% endif %}

        {% if loop.index is divisible by(3) %}
            <div class="clearfix"></div>
        {% endif %}
    {% endfor %}


{% endblock main %}


