{% extends "twitter/_layout" %}

{% includeJsResource '../twitter/timeline/js/modernizr.custom.js' %}

{% block main %}

    <div class="col-md-12">

        <h1>Recent Tweets</h1>

        <hr />

        {#
            {% set tweets = craft.twitter.get('statuses/user_timeline', {
                count:100,
                exclude_replies: false,
                include_rts: true,
                screen_name: 'autumndev'
            }) %}
        #}
        {#      
            {% set socialUser = craft.social.getUserByProvider('twitter') %}
            {% set token = socialUser.token %}

            {% set void = craft.twitter.setToken(token) %}
        #}

        {% set tweets = craft.twitter.get('statuses/user_timeline', {count:10}) %}

        {% if tweets %}

            <div class="twitter-timeline">
                {% for tweet in tweets %}
                    <div class="text">{{tweet.text|raw}}</div class="text">
                {% endfor %}
            </div>
        {% else %}
            <p>No tweets</p>
        {% endif %}
    </div>

{% endblock main %}
