<h2 class="first">{{'OAuth Not Installed'|t}}</h2>

{% set oauth = craft.plugins.getPlugin('oauth', false) %}

{% if oauth %}

    {% if not oauth.isInstalled %}
        {% set message = 'OAuth plugin is present but not installed. Please install & enable it.'|t %}
    {% elseif not oauth.isEnabled %}
        {% set message = 'OAuth is installed but is disabled. Please enable it.'|t %}
    {% endif %}

    <p>{{ message }}</p>
    <p><a class="btn" href="{{url('settings/plugins')}}">{{'Manage plugins'|t}}</a></p>

{% else %}

    <p>{{'Twitter plugin requires OAuth plugin for Craft.'|t}}</p>

    <div class="buttons">
        <a class="btn" target="_blank" href="https://dukt.net/craft/oauth/">Download OAuth plugin</a>
    </div>

{% endif %}
