{% extends "demos/twitter/_layout" %}

{% includeJsResource '../twitter/timeline/js/modernizr.custom.js' %}

{% block main %}

    <div class="col-md-12">

        <h1>Recent Tweets</h1>

        <p>Display recent tweets by requesting twitter API from your templates.</p>

        <h3>Preview</h3>

        {% set tweets = craft.twitter.get("statuses/user_timeline", {count:10}) %}

        {% if tweets %}

            <ul>
                {% for tweet in tweets %}
                    <li>
                        {{ tweet.text|autoLinkTweet }}
                    </li>
                {% endfor %}
            </ul>

        {% else %}
            <p>No tweets</p>
        {% endif %}

        <h3>Template</h3>
        <pre>{{ '{% set tweets = craft.twitter.get("statuses/user_timeline", {count:10}) %}

{% if tweets %}

    <ul>
        {% for tweet in tweets %}
            <li>
                {{ tweet.text|autoLinkTweet }}
            </li>
        {% endfor %}
    </ul>

{% else %}
    <p>No tweets</p>
{% endif %}'|e('html') }}</pre>

        <p>See <a href="https://dukt.net/craft/twitter/docs/templating/request-api">Requesting Twitter API</a> for more.</p>
    </div>

{% endblock main %}
