{% extends "demos/twitter/_layout" %}

{% includeJsResource '../twitter/timeline/js/modernizr.custom.js' %}

{% set title = "Embedded Tweets" %}

{% set extraPageHeaderHtml %}
    <p>Embedded Tweets make it possible for you take any Tweet and embed it directly in to the content of your article or website. Tweets display with expanded media like photos, videos, and article summaries, and also include real-time retweet and favorite counts.</p>
{% endset %}

{% block main %}

    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <div class="col-md-12">


        <h3>Preview</h3>

        {% set tweetId = 133640144317198338 %}
        {% set options = { theme: "dark" } %}

        {{ embedTweet(tweetId, options) }}

        <h3>Template</h3>

        <pre>{{ '<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

{% set tweetId = 133640144317198338 %}
{% set options = { theme: "dark" } %}

{{ embedTweet(tweetId, options) }}'|e('html') }}</pre>

        <p>See <a href="https://dukt.net/craft/twitter/docs/templating/embedded-tweets">Embedded Tweets Documentation</a> for usage and options.</p>
    </div>

{% endblock main %}