{% extends "demos/twitter/_layout" %}


{% block main %}

    <div class="col-md-12">
        <h1>Twitter Plugin Demos</h1>

        <p>Welcome ! These examples will show you how to use Twitter features on your Craft website.</p>

        <h3>Demos</h3>

        <ul>
            <li><a href="{{url('demos/twitter/auto-linking-tweets')}}">Auto Linking Tweets</a></li>
            <li><a href="{{url('demos/twitter/embedded-tweets')}}">Embedded Tweets</a></li>
            <li><a href="{{url('demos/twitter/recent')}}">Recent Tweets</a></li>
            <li><a href="{{url('demos/twitter/mentions')}}">Mentions</a></li>
        </ul>

    </div>

{% endblock main %}
